### Data Processing

In [1]:
import pandas as pd
import numpy as np

example with one match

In [2]:
mil_udi = pd.read_csv("../data/rawData/serieA-mil_udi.csv")
mil_udi.head(1)

,Unnamed: 0,id,event_type,team_id,player_id,player_name,x,y,min,min_added,...,shot_type,situation,period,is_own_goal,on_goal_shot.x,on_goal_shot.y,on_goal_shot.zoomRatio,first_name,last_name,team_color
0,1,2445491797,Goal,8600,844504,Rodrigo Becao,102.34482,39.545,2,NaN,...,Header,FromCorner,FirstHalf,False,0.939484,0.054358,1.0,Rodrigo,Becao,#907850

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe6 in position 898: invalid continuation byte

some players have undefined characters (solved manually)

In [3]:
mil_udi.columns

Index(['Unnamed: 0', 'id', 'event_type', 'team_id', 'player_id', 'player_name',
       'x', 'y', 'min', 'min_added', 'is_blocked', 'is_on_target', 'blocked_x',
       'blocked_y', 'goal_crossed_y', 'goal_crossed_z', 'expected_goals',
       'expected_goals_on_target', 'shot_type', 'situation', 'period',
       'is_own_goal', 'on_goal_shot.x', 'on_goal_shot.y',
       'on_goal_shot.zoomRatio', 'first_name', 'last_name', 'team_color'],
      dtype='object')

In [4]:
mil_udi = mil_udi[['team_id', 'player_id', 'player_name', 'min', 'expected_goals', 'event_type', 'team_color']]
mil_udi.head(2)

,team_id,player_id,player_name,min,expected_goals,event_type,team_color
0,8600,844504,Rodrigo Becao,2,0.086003,Goal,#907850
1,8564,750027,Brahim Diaz,7,0.054140,AttemptSaved,#302028

In [5]:
mil_udi['match_id'] = 3919071

In [6]:
mil_udi['team_name'] = np.where(mil_udi['team_id'] == 8564, 'AC Milan', 'Udinese')

In [7]:
mil_udi['venue'] = np.where(mil_udi['team_id'] == 8564, 'H', 'A')

In [8]:
mil_udi.to_csv("../data/serieA-mil_udi.csv")

In [9]:
sam_ata = pd.read_csv("../data/rawData/serieA-sam_ata.csv")
lec_int = pd.read_csv("../data/rawData/serieA-lec_int.csv")
mon_tor = pd.read_csv("../data/rawData/serieA-mon_tor.csv")

In [10]:
sam_ata = sam_ata[['team_id', 'player_id', 'player_name', 'min', 'expected_goals', 'event_type', 'team_color']]
lec_int = lec_int[['team_id', 'player_id', 'player_name', 'min', 'expected_goals', 'event_type', 'team_color']]
mon_tor = mon_tor[['team_id', 'player_id', 'player_name', 'min', 'expected_goals', 'event_type', 'team_color']]

In [11]:
sam_ata['match_id'] = 3919073
lec_int['match_id'] = 3919077
mon_tor['match_id'] = 3919072

In [12]:
sam_ata['team_name'] = np.where(sam_ata['team_id'] == 9882, 'Sampdoria', 'Atalanta')
lec_int['team_name'] = np.where(lec_int['team_id'] == 9888, 'Lecce', 'Inter')
mon_tor['team_name'] = np.where(mon_tor['team_id'] == 6504, 'Monza', 'Torino')

In [13]:
sam_ata['venue'] = np.where(sam_ata['team_id'] == 9882, 'H', 'A')
lec_int['venue'] = np.where(lec_int['team_id'] == 9888, 'H', 'A')
mon_tor['venue'] = np.where(mon_tor['team_id'] == 6504, 'H', 'A')

In [14]:
sam_ata.to_csv("../data/serieA-sam_ata.csv")
lec_int.to_csv("../data/serieA-lec_int.csv")
mon_tor.to_csv("../data/serieA-mon_tor.csv")

create one dataframe with all data

In [15]:
serieA_1 = mil_udi.append(sam_ata)
len(serieA_1)

C:\Users\FC\AppData\Local\Temp\ipykernel_17504\3214930175.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serieA_1 = mil_udi.append(sam_ata)

43

In [16]:
serieA_2 = serieA_1.append(lec_int)
len(serieA_2)

C:\Users\FC\AppData\Local\Temp\ipykernel_17504\3303198323.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serieA_2 = serieA_1.append(lec_int)

72

In [17]:
serieA_3 = serieA_2.append(mon_tor)
len(serieA_3)

C:\Users\FC\AppData\Local\Temp\ipykernel_17504\2272074313.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serieA_3 = serieA_2.append(mon_tor)

100

In [18]:
serieA_3.to_csv("../data/serieA-gw1.csv")