### Data manipulation

In [23]:
import pandas as pd
import numpy as np

Serie A 22/23 Calendario

In [24]:
seriea_2223_ca = pd.read_csv("../data/SerieA-2223-calendar.csv")

In [25]:
seriea_2223_ca.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sab,13-08-2022,18:30,Milan,NaN,NaN,NaN,Udinese,NaN,Stadio Giuseppe Meazza,NaN,Scontro diretto,NaN
1,1.0,Sab,13-08-2022,18:30,Sampdoria,NaN,NaN,NaN,Atalanta,NaN,Stadio Comunale Luigi Ferraris,NaN,Scontro diretto,NaN
2,1.0,Sab,13-08-2022,20:45,Lecce,NaN,NaN,NaN,Inter,NaN,Stadio Comunale Via Del Mare,NaN,Scontro diretto,NaN
3,1.0,Sab,13-08-2022,20:45,Monza,NaN,NaN,NaN,Torino,NaN,Stadio Comunale Brianteo,NaN,Scontro diretto,NaN
4,1.0,Dom,14-08-2022,18:30,Lazio,NaN,NaN,NaN,Bologna,NaN,Stadio Olimpico,NaN,Scontro diretto,NaN

In [27]:
seriea_2223_ca = seriea_2223_ca[['Home', 'Away']]

In [28]:
seriea_2223_ca.head()

        Home      Away
0      Milan   Udinese
1  Sampdoria  Atalanta
2      Lecce     Inter
3      Monza    Torino
4      Lazio   Bologna

In [29]:
len(seriea_2223_ca)

417

In [30]:
seriea_2223_ca.dropna(inplace=True)
len(seriea_2223_ca)

380

In [31]:
seriea_2223_ca.to_csv('../data/SerieA-2223-calendar-OK.csv', index=False)

Serie A 22/23 Classifica

In [32]:
seriea_2223_cl = pd.read_csv("../data/SerieA-2223-standings.csv")

In [33]:
seriea_2223_cl.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Juventus,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Napoli,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Inter,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Fiorentina,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Lazio,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
seriea_2223_cl = seriea_2223_cl[['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts']]

In [36]:
seriea_2223_cl

    Rk          Squad  MP  W  D  L  GF  GA  GD  Pts
0    1       Juventus   0  0  0  0   0   0   0    0
1    2         Napoli   0  0  0  0   0   0   0    0
2    3          Inter   0  0  0  0   0   0   0    0
3    4     Fiorentina   0  0  0  0   0   0   0    0
4    5          Lazio   0  0  0  0   0   0   0    0
5    6           Roma   0  0  0  0   0   0   0    0
6    7          Milan   0  0  0  0   0   0   0    0
7    8        Udinese   0  0  0  0   0   0   0    0
8    9       Atalanta   0  0  0  0   0   0   0    0
9   10      Sampdoria   0  0  0  0   0   0   0    0
10  11         Torino   0  0  0  0   0   0   0    0
11  12        Bologna   0  0  0  0   0   0   0    0
12  13         Spezia   0  0  0  0   0   0   0    0
13  14         Empoli   0  0  0  0   0   0   0    0
14  15  Hellas Verona   0  0  0  0   0   0   0    0
15  16       Sassuolo   0  0  0  0   0   0   0    0
16  17      Cremonese   0  0  0  0   0   0   0    0
17  18          Lecce   0  0  0  0   0   0   0    0
18  19    Salernitana   0  0  0  0   0   0   0    0
19  20          Monza   0  0  0  0   0   0   0    0

In [37]:
seriea_2223_cl.to_csv('../data/SerieA-2223-standings-OK.csv', index=False)